<web-app> 
<servlet>
        <servlet-name>RequestHeaderServlet1</servlet-name>
        <servlet-class>RequestHeaderServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestHeaderServlet1</servlet-name>
        <url-pattern>/RequestHeaderServlet1</url-pattern>
    </servlet-mapping>
	</web-app>